*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0f0f0f;
    color: white;
    font-family: 'arial', sans-serif;
}
.brand{
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.1;
}
.orange{
    color: #ff5e00;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background-color: #1a1a1a;
    border-bottom: 2px solid #ff5e00;
}
.logo-image{
    width: 40px;
    height: auto;
}
.Logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-link{
    display: flex;
    gap: 25px;
    list-style-type:none ;
}
.nav-link a{
    text-decoration: none;
    color: #ccc;
    font-size: bold;
    transition: color 0.3s ease;
}
.nav-link a:hover{
    color: #ff5e00;
}
.main-Footer{
    background-color: #1a1a1a;
    color:#ccc;
    padding: 2rem 5%;
    margin-top: 50px;
    border-top: 2px solid #ff5e00;
}
.footer-conteint{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-links{
    display: flex;
}
.footer-links a{
    color:#ccc;
    text-decoration: none;
    margin-left: 20px;
    font-size: 0.9rem;
}
.footer-links a:hover{
    color:#ff5e00;  
}
.footer-info{
    text-align: left;
}
.hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 80px 10%;
    background-color: #1a1a1a;
}
.hero-content{
    margin-bottom: 60px;
}
.features{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    gap: 25px;
    width: 100%;
    max-width: 1200px;
}
.features-card{
    background-color: #222;
    padding: 30px;
    border-radius: 30px;
    border: 1px solid #333;
    transition: transform 0.3s ease;
}
.features-card:hover{
    transform: translateY(-10px);
    border-color: #ff5e00;
}
.hero-btns{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.Regristo{
    display: inline-block;
    padding: 12px 25px;
    border: 2px solid #ff5e00;
    border-radius: 5px;
    color: #ff5e00;
    text-decoration: none;
    font-weight: bold;
}
.stats-grid{
    display: flex;
    justify-content: space-around;
    padding: 50px 10%;
    background-color: #111;
}
.stats-item span{
    display: block;
    font-size: 2.5rem;
    font-weight: bold;  
}
.stats-item small{
    display: block;
    color:#888;
    font-size: 0.8rem;
    margin-top: 5px;
}
.cta-section{
    background: linear-gradient(90deg,#1a1a1a,#2c1a00);
    padding: 60px 20px;
    text-align: center;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    margin: 40px 0;
}
.active-sectors{
    display:flex;
    flex-wrap: wrap;
    gap: 15;
    justify-content: center;
    margin-bottom: 40px;
}
.sector-bacger{
    background: #1a1a1a;
    border: 1px solid #333;
    padding: 10px 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
}
.sector-bacger.active{
    border-color: #ff5e00;
    box-shadow: 0 0 10px rgba(255, 94, 0, 0.2);
}
.sector-bacger i{
    color: #ff5e00;
}
.upcoming-update{
    background: #0d0d0d;
    padding: 25px;
    border-radius: 15px;
    border: 1px dashed #444;
}
.locked-sectors{
    display: flex;
    justify-content:center ;
    gap: 20px;
    opacity: .6;
    margin-top: 15px;
    font-size: 0.9rem;
}
.locked-sectors span i{
    margin-right:5px ;
}
.version-item{
    background: #151515;
    border-left: 4px solid #ff5e00;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 0 10px 10px 0;
    text-align: left;
}
.version-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-weight: bold;
}
.version-number{
    color: #ff5e00;
    font-size: 1.2rem;
}
.version-deatails li{
    margin-bottom: 8px;
    color: #ccc;
    font-size: 0.9rem;
}
.tag-new{
    color:#00ff00;
    font-weight: bold;
    margin-right: 10px;
    font-size: 0.7rem;
}
.tag-update{
    color: #00ccff;
    font-weight: bold;
    margin-right: 10px;
    font-size: 0.7rem;
}
.tag-Fix{
    color: #ff3333;
    font-weight: bold;
    margin-right: 10px;
    font-size: 0.7rem;
}
.old-version{
    opacity: 0.6;
    border-left-color: #444;
}
.screenshots-grind{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    gap: 30px;
    margin-top: 40px;
}
.screensjots-item img{
    width: 100%;
    border-radius: 10px;
    border: 2px solid #333;
    transition: transform 0.3s ,border-color 0.3s;
    cursor: pointer;
}
.screensjots-item img:hover{
    transform: scale(1.05);
    border-color: #888;
}
screenshots-grind h4{
    margin-top: 15px;
    color: #888;
}
.regristo-main{
    padding: 100px 20px;
    background: #050505;
    min-height: 80vh;
}
.registro-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    max-width: 1000px;
    margin:0 auto;
    align-items: center;
}
.registro-card{
    background: #111;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid #222;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}
.form-registro .input-group{
    margin-bottom: 20px;
    text-align: left;
}
.form-registro label{
    display: block;
    color: #888;
    margin-bottom: 8px;
    font-size: 0.9rem;
}
.form-registro input{
    width: 100%;
    padding: 12px;
    background: #1a1a1a;
    border: 1px solid #333;
    border-radius: 8px;
    color: white;
}
.form-registro input:focus{
    border-color: #ff5e00;
    outline: none;
}
.beneficios-list{
    list-style: none;
    padding: 0;
    text-align: left;
}
.beneficios-list li{
    margin-bottom: 15px;
    font-size: 1.1rem;
}
@media (max-width:768px){
    .registro-container{
        grid-template-columns: 1fr;
    }
}